# Postgres Credentials
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=hn_search
DATABASE_URL=postgres://postgres:postgres@localhost:5432/hn_search

# Server Config
PORT=3000

# Crawler Config
HN_ALGOLIA_BASE_URL=https://hn.algolia.com/api/v1

# Redis (if BullMQ used later)
REDIS_URL=redis://localhost:6379
